<!DOCTYPE html>
<head>
  <% include partials/head %>
</head>
<html>
  <body>
    <% include partials/nav %>

    <h1 class="title"><%= title %></h1>

    <% include partials/footer %>
  </body>
</html>
